<div class="container">

  <div class="row mb-4 border-bottom">
    <h1>
      <span class="fas fa-user"></span>
      {{currentlyLoggedInUser.username}}
    </h1>
    <h1 *ngIf="currentlyLoggedInUser.firstName !== null || currentlyLoggedInUser.lastName !== null">
      &nbsp; {{currentlyLoggedInUser.firstName}} &nbsp; {{currentlyLoggedInUser.lastName}}
    </h1>
  </div>

  <div class="row mb-4">
    <a role="button" class="btn btn-primary text-white m-1" (click)="switchDisabled()">Edit</a>
    <a role="button" class="btn btn-primary text-white m-1">Reset password</a>
  </div>

  <div class="row mb-3 border-bottom">
    <div class="col font-weight-bold font-italic">
      <span class="fas fa-id-badge"></span>
      UUID
    </div>
    <div class="col line">
      {{currentlyLoggedInUser.uuid}}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col m-1 border-bottom">
      <div class="row">
        <div class="col font-weight-bold font-italic">
          <span class="fas fa-calendar-alt"></span>
          Created on
        </div>
        <div class="col">
          {{currentlyLoggedInUser.createdTimestamp | date: "yyyy-MM-dd HH:mm:ss zzzz"}}
        </div>
      </div>
    </div>

    <div class="col m-1 border-bottom">
      <div class="row">
        <div class="col font-weight-bold font-italic">
          <span class="fas fa-user-plus"></span>
          Created by
        </div>
        <div class="col">
          {{currentlyLoggedInUser.createdBy}}
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col m-1 border-bottom">
      <div class="row">
        <div class="col font-weight-bold font-italic">
          <span class="fas fa-calendar-alt"></span>
          Modified on
        </div>
        <div class="col">
          {{currentlyLoggedInUser.modificationTimestamp | date: "yyyy-MM-dd HH:mm:ss zzzz"}}
        </div>
      </div>
    </div>

    <div class="col m-1 border-bottom">
      <div class="row">
        <div class="col font-weight-bold font-italic">
          <span class="fas fa-user-plus"></span>
          Modified by
        </div>
        <div class="col">
          {{currentlyLoggedInUser.modifiedBy}}
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3 border-bottom">
    <div class="col font-weight-bold font-italic">
      <span class="fas fa-at"></span>
      Email address
    </div>
    <div class="col">
      {{currentlyLoggedInUser.addressEmail}}
    </div>
  </div>

  <div class="row mb-3 border-bottom">
    <div class="col font-weight-bold font-italic">
      <span class="fas fa-user-tag"></span>
      Roles
    </div>
    <div class="col" *ngFor="let role of currentlyLoggedInUser.roles">
      {{role.roleName}}
    </div>
  </div>

  <div class="row mb-4">
    <h4 class="border-bottom">
      <span class="fas fa-user"></span>
      Editable user info
    </h4>
  </div>

  <div class="row">
    <form [formGroup]="userProfileFormGroup" (ngSubmit)="onSubmit(userProfileFormGroup)">

      <div class="form-row m-2">
        <div class="col">
          <label class="control-label font-weight-bold font-italic" for="firstName">First name</label>
        </div>
        <div class="col">
          <input [readOnly]="isDisabled" id="firstName" class="form-control" type="text" formControlName="firstName"
                 placeholder="First name">
          <div class="p-1 mb-1 bg-danger text-white rounded"
               *ngIf="userProfileFormGroup.get('firstName').hasError('minlength')">
            First name is too short!
          </div>
          <div class="p-1 mb-1 bg-danger text-white rounded"
               *ngIf="userProfileFormGroup.get('firstName').hasError('maxlength')">
            First name is too long!
          </div>
        </div>
      </div>

      <div class="form-row m-2">
        <div class="col">
          <label class="control-label font-weight-bold font-italic" for="lastName">Last name</label>
        </div>
        <div class="col">
          <input [readOnly]="isDisabled" id="lastName" class="form-control" type="text" formControlName="lastName"
                 placeholder="Last name">
          <div *ngIf="userProfileFormGroup.controls.lastName.errors">
            <div class="p-1 mb-1 bg-danger text-white rounded"
                 *ngIf="userProfileFormGroup.get('lastName').hasError('minlength')">
              Last name is too short!
            </div>
            <div class="p-1 mb-1 bg-danger text-white rounded"
                 *ngIf="userProfileFormGroup.get('lastName').hasError('maxlength')">
              Last name is too long!
            </div>
          </div>
        </div>
      </div>

      <button [disabled]="isDisabled" class="btn btn-primary m-1" role="button" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
      <button [disabled]="isDisabled" class="btn btn-warning m-1" role="button" (click)="onReset()">
        Reset
      </button>
    </form>
  </div>

</div>
