<nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-5">
  <div class="container">
    <a class="navbar-brand" href="#">
      <div class="container">
        <div class="row row row-cols-auto justify-content-md-center align-items-center">
          <div class="col">
            <i class="far fa-sticky-note fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col">
            {{ title }}
          </div>
        </div>
      </div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-navbar-content"
            aria-controls="top-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="top-navbar-content">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" role="button" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Home
          </a>
        </li>

        <li class="nav-item dropdown" *ngIf="isActivateWhenUserLoggedIn()">
          <a class="nav-link dropdown-toggle" id="noteDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="far fa-sticky-note" aria-hidden="true"></i>
            Note
          </a>

          <ul class="dropdown-menu" aria-labelledby="noteDropdown">
            <li>
              <a class="dropdown-item" routerLinkActive="active" routerLink="{{appMappings.note.noteList}}"
                 [routerLinkActiveOptions]="{exact: true}">
                <i class="far fa-sticky-note" aria-hidden="true"></i>
                My notes
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLinkActive="active" routerLink="{{appMappings.note.note}}"
                 [routerLinkActiveOptions]="{exact: false}">
                <i class="far fa-sticky-note" aria-hidden="true"></i>
                Note
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropstart">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenu2" data-bs-toggle="dropdown" role="button"
             aria-expanded="false">
          <span class="fas fa-user">
            <a *ngIf="isActivateWhenUserLoggedIn()" role="button">
              Hello, {{currentLoggedInUser().username}}
            </a>
          </span>
          </a>

          <ul class="dropdown-menu"
               aria-labelledby="navbarDropdownMenu2">

            <li>
              <a class="dropdown-item" role="button" *ngIf="isActivateWhenUserNotLoggedIn()"
                 routerLinkActive="active" routerLink="{{appMappings.user.register}}">
                <span class="mx-auto fas fa-user-plus"></span>
                Register
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLinkActive="active" role="button"
                 *ngIf="isActivateWhenUserNotLoggedIn()" routerLink="{{appMappings.user.login}}">
                <span class="mx-auto fas fa-sign-in-alt"></span>
                Login
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLinkActive="active" role="button"
                 *ngIf="isActivateWhenUserLoggedIn()" routerLink="{{appMappings.user.profile}}">
                <span class="mx-auto fas fa-user"></span>
                Profile
              </a>
            </li>

            <li>
              <a class="dropdown-item" role="button" *ngIf="isActivateWhenUserLoggedIn()" (click)="logout()">
                <span class="mx-auto fas fa-user-plus"></span>
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
